name: Perform checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: NPM install
        run: npm install
      - name: Check Format
        run: npm run format-check
      - name: Unit tests
        run: npm test
